html,body{
    width: 100%;
    height: 100%;
}

body button,
ul.social-media li a i{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

/*HEADER----------------------------------*/
.logo-header{
    width: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading{
    background-color: #FF9EB4;
    width: 100%;
    height: 100%;
    background-image: url("../img/girl.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size:contain;
}

.page-title{
  text-align: center;
}

.heading1{
    font-family: 'Yellowtail';
    color: #be1e2d;
}

.heading2{
    font-family: 'Lato';
    color: #F1F1F2;
}

.line-heading{
    background-color: #be1e2d;
    height: 2px;
    width: 200px;
    margin: 0 auto;
}

/*FORM------------------------------------*/
.form{
    padding: 70px 0;
    background-image: url("../img/screen.png");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 25% center;
}

form{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    text-align: left;
}

form input{
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid #be1e2d;
    padding: 5px;
}

form input:focus, form input[type="radio"]:focus{
    outline: none;
}

form input[type="radio"]{
    background-color: #F1F1F2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}


input[type="radio"]:checked {
    background-color: #be1e2d;
    -webkit-appearance: none;
}

.radio-text{
    color: #404041;
    font-weight: 200;
    margin: 0 10px;
    line-height: 30px;
}

form button{
    background-color: #be1e2d;
    border: none;
    color: #F1F1F2;
    text-align: center;
    padding: 7px 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px
}

form button:hover{
    background-color: rgba(190, 30, 45, 0.9);
}

/*MOVIE-----------------------------------*/
.movie{
    background-color: #FF9EB4;
    min-height: 200px;
}

.movie video{
    padding: 70px 0;
    display: block;
    margin: 0 auto;
    width: 75%;
}

/*TESTIMONIALS----------------------------*/
.testimonials{
    padding: 70px 0;
    border-bottom: 5px solid #FF9EB4;
}

h2{
    background-color: #be1e2d;
    color: #F1F1F2;
    display: inline-block;
    padding: 10px 40px;
    margin-bottom: 50px;
    font-family: 'Lato';
    font-weight: 300;
}

.testimonials div.row{
    padding-top: 40px;
}

.person{
    margin-bottom: 40px;
}

.person .image{
    height: 150px;
    width: 150px;
    border: 3px solid #FF9EB4;
    border-radius: 150px;
    display: inline-block;
}

.person h4{
    color: #FF9EB4;
    font-family: 'Yellowtail';
    font-size: 2em;
    line-height: 20px;
}

.person p{
    padding-top: 10px;
}

p.bezoek{
    color: #F2F2F2;
    font-style: italic;
}

.meer-info{
    background-color: #be1e2d;
    color: white;
    padding: 10px 20px;
    margin: 30px 0;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.meer-info:hover
{
    color: #BE1E2D;
    background-color: transparent;
    text-decoration: none;
}

/*FOOTER----------------------------------*/
.footer{
    min-height: 50px;
    background-color: #404041;
}

ul.social-media{
    text-align: center;
    padding-top: 15px;
}

.social-media i {
    color: white;
}

.social-media i:hover{
    color: #FF9EB4;
}

.footer p{
    margin: 0;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

/*MEDIAQUERIE 768*/
@media(min-width:768px) {
    .page-title{
        text-align: left;
        padding-top: 10%;
        padding-left: 100px;
    }

    .line-heading{
        margin: 0;
    }
    .movie video{
        width: 50%;
    }
}